<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS-PMS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Admit Patient</h1>

<form th:action="@{/actions/admit-patient}" th:object="${admitPatientForm}" method="post">
    <table>
        <tr>
            <td><label for="patientNumber">Patient Number:</label></td>
            <td><input type="text" id="patientNumber" th:field="*{patientNumber}" required></td>
        </tr>

        <tr>
            <td><label for="localDoctor">Local Doctor:</label></td>
            <td><input type="text" id="localDoctor" th:field="*{localDoctor}" required></td>
        </tr>

        <tr>
            <td><label for="roomNumber">Room Number:</label></td>
            <td><input type="text" id="roomNumber" th:field="*{roomNumber}" required></td>
        </tr>

        <tr>
            <td><label for="bedNumber">Bed Number:</label></td>
            <td><input type="text" id="bedNumber" th:field="*{bedNumber}" required></td>
        </tr>

        <tr>
            <td><label for="privateInsuranceNumber">Private Insurance Number:</label></td>
            <td><input type="text" id="privateInsuranceNumber" th:field="*{privateInsuranceNumber}"></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;"><button type="submit">Admit Patient</button></td>
        </tr>
    </table>
</form>
</body>
</html>
