<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS-PMS</title>
</head>
<body>
<h1>Discharge Patient</h1>

<form th:action="@{/actions/discharge-patient}" th:object="${dischargePatientForm}" method="post">
    <table>
        <tr>
            <td><label for="patientId">Patient ID:</label></td>
            <td><input type="text" id="patientId" th:field="*{patientId}" required></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;"><button type="submit">Discharge Patient</button></td>
        </tr>
    </table>
</form>

</body>
</html>
