<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS-PMS</title>
</head>
<body>
<h1>Update Patient File</h1>

<form th:action="@{/update-patient-file}" th:object="${updatePatientFileDTO}" method="post">
    <label for="medicalStaffId">Medical Staff ID:</label>
    <input type="text" id="medicalStaffId" th:field="*{medicalStaffId}" required>
    <br>

    <label for="patientId">Patient ID:</label>
    <input type="text" id="patientId" th:field="*{patientId}" required>
    <br>

    <label for="insuranceNumber">Insurance Number:</label>
    <input type="text" id="insuranceNumber" th:field="*{insuranceNumber}">
    <br>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">
    <br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <br>

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}">
    <br>

    <label for="telephoneNumber">Telephone Number:</label>
    <input type="text" id="telephoneNumber" th:field="*{telephoneNumber}">
    <br>

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
    <br>

    <label for="gender">Gender:</label>
    <input type="text" id="gender" th:field="*{gender}">
    <br>

    <label for="maritalStatus">Marital Status:</label>
    <input type="text" id="maritalStatus" th:field="*{maritalStatus}">
    <br>

    <label for="externalDoctorId">External Doctor ID:</label>
    <input type="text" id="externalDoctorId" th:field="*{externalDoctorId}">
    <br>

    <label for="nextOfKinFirstName">Next of Kin First Name:</label>
    <input type="text" id="nextOfKinFirstName" th:field="*{nextOfKinFirstName}">
    <br>

    <label for="nextOfKinLastName">Next of Kin Last Name:</label>
    <input type="text" id="nextOfKinLastName" th:field="*{nextOfKinLastName}">
    <br>

    <label for="nextOfKinRelationshipToPatient">Next of Kin Relationship to Patient:</label>
    <input type="text" id="nextOfKinRelationshipToPatient" th:field="*{nextOfKinRelationshipToPatient}">
    <br>

    <label for="nextOfKinAddress">Next of Kin Address:</label>
    <input type="text" id="nextOfKinAddress" th:field="*{nextOfKinAddress}">
    <br>

    <label for="nextOfKinTelephoneNumber">Next of Kin Telephone Number:</label>
    <input type="text" id="nextOfKinTelephoneNumber" th:field="*{nextOfKinTelephoneNumber}">
    <br>

    <button type="submit">Update Patient File</button>
</form>
</body>
</html>
