<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS-PMS</title>
    <link rel="icon" type="image/x-icon" href="../images/icon.ico">
    <link rel="stylesheet" href="../static/css/formstyles.css" th:href="@{/css/formstyles.css}">
</head>
<body>
    <div class="header">
        <h1>Discharge Patient</h1>
    </div>

    <div class="content">
        <form th:action="@{/actions/discharge-patient}" th:object="${dischargePatientForm}" method="post" onsubmit="showLoading()">
            <table>
                <tr>
                    <td><label for="patientId">Patient ID:</label></td>
                    <td><input type="text" id="patientId" th:field="*{patientId}" required></td>
                </tr>
                <tr>
                    <td><label for="divisionId">Division ID:</label></td>
                    <td><input type="text" id="divisionId" th:field="*{divisionId}" required></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" value="Discharge Patient">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="button" value="Return" onclick="window.location.href='/'">
                    </td>
                </tr>
            </table>

            <!-- Display loading message -->
            <div id="loadingText" style="display: none; color: yellow;">Loading...</div>
            <!-- Display success or error message -->
            <div th:if="${successMessage != null}" th:text="${successMessage}" style="color: green;"></div>
            <div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red;"></div>
        </form>
    </div>
<script>
    function showLoading() {
        document.getElementById("loadingText").style.display = "block";
    }
</script>

</body>
</html>
