<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | WHMS</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="icon" type="image/x-icon" href="../images/icon.ico">
</head>
<body>
    <div class="dashboard">
        <h1>Wellmeadows Hospital Management System</h1>
        
        <!-- Functionalities -->
        <div class="grid-container">
            <a class="card" href="/actions/visualize-division">Visualize Division</a>
            <a class="card" href="/actions/update-patient-file">Update Patient File</a>
            <a class="card" href="/actions/request-patient-admission">Request Patient Admission</a>
            <a class="card" href="/actions/register-staff">Register Staff</a>
            <a class="card" href="/actions/register-patient">Register Patient</a>
            <a class="card" href="/actions/prescribe-medication">Prescribe Medication</a>
            <a class="card" href="/actions/discharge-patient">Discharge Patient</a>
            <a class="card" href="/actions/consult-patient-file">Consult Patient File</a>
            <a class="card" href="/actions/admit-patient">Admit Patient</a>
            <a class="card" href="/actions/admit-patient-request-list">Admit Patient From Request List</a>
        </div>

        <!-- Logout Button -->
        <div class="logout-container">
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="logout-button"/>
            </form>
        </div>
        
    </div>
</body>
</html>
