<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Login | WHMS</title>
    <link rel="icon" type="image/x-icon" href="../images/icon.ico">
</head>
<body>
    <div class="header">
        <h1 class="page-title">Wellmeadows Hospital Management System</h1>
    </div>
    <div class="container">
        <main class="content">
            <div class="column">
                <form th:action="@{/login}" method="post">
                    <div>
                        <label for="usr"><b>Username</b></label>
                        <input type="text" id="usr" name="username"/>
                    </div>
                    <div>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" id="psw" name="password"/>
                    </div>
                    <div>
                        <input type="submit" value="Sign In"/>
                    </div>
                </form>
                <div th:if="${param.error}">
                    <p>Invalid Username and Password, Try Again</p>
                </div>
                <div th:if="${param.logout}">
                    <p>You Have Been Logged Out Successfully</p>
                </div>
            </div>
        </main>
        <footer>
            <!-- Footer content goes here -->
        </footer>
    </div>
</body>
</html>
